.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;

  height: max-content;
  background-color: white;
}

.navbutton {
  transform: translateY(0.5rem);
  margin: 0 1rem;
  position: relative;
  height: 70%;
  width: auto;
  padding: 0 1rem;
  display: flex;
  object-fit: contain;
  float: right;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  align-items: center;
  border-color: black;
  border-style: solid;
}

.navbutton.active {
  background-color: #BDB23D;
}


.navbutton:hover {
  background-color: #BDB23D;
}

.navbutton.contact {
  background-color: #ff0000;
}

.navbutton.contact:hover {
  color: black;
  background-color: white;
}

.topbar.active {
  font-family: Arial, Helvetica, sans-serif;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0px;
  transition: 0.3s linear;
  display: block;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  line-height: 0;
  overflow: hidden;
}

.topbar.hidden {
  font-family: Arial, Helvetica, sans-serif;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0px;
  transition: 0.3s linear;
  display: block;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  line-height: 0;
  top: -80px;
  transition: 0.3s linear;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.navbarLogoIcon {
  position: relative;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.servicesMainTitle {
  color: black;
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: 15px;
}

.servicesMainTitleContainer {
  display: flex;
  width: 70%;
  height: 11rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 100px;
  position: relative;
  border-top: black;
  border-top-style: solid;
}

.servicesMainTitleBody {
  display: grid;
  color: black;
  width: 90%;
  height: 175px;
  font-size: x-large;
  margin-bottom: -50px;
}


.servicesTitleContactButton {
  position: absolute;
  bottom: 0px;
  margin-bottom: 25px;
  margin-left: 25px;
  height: max-content;
  width: max-content;
  padding: 5px 2rem;
  display: flex;
  object-fit: contain;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 5px;
  justify-self: center;
}

.servicesTitleContactButton:hover {
  background-color: white;
  color: black;
}

.servicesListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
}

.servicesList {
  margin: 10px 40px;
  background-color: black;
  color: white;
  text-align: center;
  height: 90px;
  border-radius: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicesList:hover {
  margin: 5px 30px;
  padding: 5px 10px;
}

.servicesBodyTitle {
  color: black;
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: 15px;
}

.servicesBodyTitleContainer {
  display: flex;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 100px;
  position: relative;
  border-top: black;
  border-top-style: solid;
}

.servicesBodyTitleBody {
  display: grid;
  color: black;
  width: 90%;
  height: 175px;
  font-size: x-large;
  margin-bottom: -50px;
}


.servicesBodyButton {
  position: absolute;
  bottom: 0px;
  margin-top: 25px;
  margin-left: 25px;
  height: max-content;
  width: max-content;
  padding: 0 1rem;
  display: flex;
  object-fit: contain;
  text-align: center;
  background-color: #BDB23D;
  color: white;
  border-radius: 5px;
  justify-self: center;
}

.servicesBodyButton:hover {
  background-color: white;
  color: black;
}

.servicesImage {
  width: 30%;
  height: auto;
  aspect-ratio: 1;
  margin-top: 50px;
}

.servicesTitle {
  margin-top: 20px;
  font-size: 200%;
  width: 100%;
  text-align: center;
}

.searchBarContainer{
  width: 90%;
  display: grid;
  gap:.5rem;
  grid-template-columns: repeat(2, 200px);
  margin: 25px 0px;
  margin-bottom: 5px;
}

.searchBarButton{
  background-color: #1a1a1a;
  color:white;
  height: 50px;
  font-size: larger;
  text-align: center;
  line-height: 250%;
  display:flex;
  padding-left: 15%;
}

.searchBarButton:hover{
  background-color: #BDB23D;
  cursor: pointer;
}

.searchBarImage{
  background-color: #1a1a1a;
  color:white;
  height: 50px;
  font-size: larger;
  text-align: center;
  line-height: 250%;
  width:auto;
}

.searchBarTagsContainer{
  width: 200%;
  grid-template-columns: repeat(3, 200px);
  height:auto;
  display: grid;
  margin-left: 25px;
  gap:5px;
}

.searchBarTagButton{
  width:auto;
  background-color: #1a1a1a;
  border-style: none;
}

.searchBarTagButton:hover{
  background-color: #BDB23D;
  cursor: pointer;
}

.searchBarTagButtonSelected{
  width:auto;
  background-color: #BDB23D;
  border-style: none;
}

.searchBarTagButtonSelected:hover{
  cursor: pointer;
}

.realisationsBox {
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, .33fr));
  margin: 25px 0px;
}

.realisationsThumbnail {
  width: 110%;
  display: flex;

}

.realisationsCard {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  aspect-ratio: 1.25;
  overflow: hidden;
  border-radius: 5%;
}

.realisationsCard:hover {
  margin: 25px;
  cursor: pointer;
}

.realisationsCardFullscreen {
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 100;
  width: 40%;
  height: auto;
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  background-color: white;
  flex-direction: column;
  color: black;
}

.realisationsPic {
  width: 100%;
  height: auto;
  align-self: center;
}

.realisationArrow {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  margin-top: 25%;
}

.backgroundActive {
  display: initial;
  opacity: 25%;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: grey;
}

.cardHidden {
  display: none;
}

.realisationsTitle {
  font-size: 175%;
  width: 100%;
  text-align: center;
  color: #BDB23D;
  background-color: black;
}

.ImgSldShowContain {
  width: 100%;
  height: max-content;
  position: relative;
  background-color: black;
}

.ImgSldShow {
  width: 100%;
  height: 758.817px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 1s linear;
}

.title {
  display: flex;
  font-size: xx-large;
  color: black;
}

.articleContainer {
  background-color: none;
  color: black;
  height: 300px;
  width: 80%;
  align-self: first baseline;
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
}

.articleImg {
  height: 100%;
  width: auto;
  padding: 10px;
  border-radius: 3%;
  aspect-ratio: 1;
  object-fit: cover;
}

.articleBodyContainer {
  width: 50%;
  margin: 0px 100px;
  display: flex;
  align-content: center;
  flex-flow: column;
}

.articleTitle {
  text-align: center;
  font-size: x-large;
}

.articleBody {
  text-align: justify;
  font-size: larger;
  margin-top: 25px;
}

.articleButton {
  width: max-content;
  align-self: center;
  color: white;
  background-color: #BDB23D;
  padding: 5px;
}

.articleButton:hover {

  padding: 10px;
  background-color: black;

}

.IndexGenericTitle {
  color: black;
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: -50px;
}

.IndexGenericTitleBar {
  background-color: black;
  height: 3px;
  width: 250%;
  margin-left: -75%;

}

.reviewsContainer {
  height: 500px;
  width: 90%;
  margin: 50px 0px;
  flex-direction: row;
  display: flex;
}

.reviewsIndividual {
  height: 75%;
  margin: 0 3%;
  width: 30%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 5%;
}

.reviewsHeaderContainer {
  height: 70px;
  width: 90%;
  align-self: center;
  text-align: center;
  margin-top: 25px;
}

.reviewsStars {
  height: 50%;
  width: fit-content;
}

.reviewsBody {
  width: 80%;
  text-align: justify;
  align-self: center;
  font-size: large;
}

.reviewsName {
  height: 100px;
  width: 90%;
  align-self: center;
  text-align: right;
  margin-top: 25px;
  font-size: x-large;
  align-self: baseline;
}

.BeforeAfterTopLevelContainer {
  width: 70%;
  --BefAfWidth: min-width;
  height: 500px;
  position: relative;
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.BeforeAfterLeftArrow {
  background-color: blue;
  height: 100px;
  width: 100px;
  align-self: center;
}

.BeforeAfterRightArrow {
  background-color: blue;
  height: 100px;
  width: 100px;
  align-self: center;
  right: 0px;
  position: absolute;
}

.BeforeAfterContainer {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 1s linear;
  overflow: hidden;
}

.BeforeAfterContainerSlide {
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  filter: grayscale(1);
  border-right: 5px inset rgb(13, 13, 13);
}

.BeforeAfterImage {
  width: 100%;
  height: 100%;
}

.BeforeAfterRange {
  -webkit-appearance: none !important;
  height: 10px;
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100%;
  transition: all, .2s;

}



.BeforeAfterButton {
  width: max-content;
  align-self: center;
  background-color: #BDB23D;
  padding: 5px;
  bottom: -50px;
  position: absolute;
  margin-left: 40%;
  width: 20%;
  text-align: center;
}

.BeforeAfterButton:hover {

  padding: 10px;
  background-color: black;

}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background: #4F46E5;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  z-index: 10;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: visible;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}